spring:
  profiles:
    default: dev
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
  liquibase:
    change-log: classpath:/db/changelog/changelog.yml

server:
  servlet:
    context-path: /api/v1