spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/one-more-task-manager-db
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
  kafka:
    bootstrap-servers: kafka:9092

jwt:
  secret: ${JWT_SECRET}
  expiration:
    access-token: ${ACCESS_TOKEN_EXP}
    refresh-token: ${REFRESH_TOKEN_EXP}

security:
  cors:
    allowed-origins: ${ALLOWED_ORIGINS}
